/target
/tools/*/target
/*.log
/*.env
/static/*.min.html
/static/*.min.css
/static/*.min.js
/scripts/.asset-hashes.json
node_modules
.DS_Store
/.vscode
/.token
/.token-list
/.tokens
/cursor-api
/cursor-api.exe
/release
/data
/*.py
/logs
/dev*
/build*
/*.bin
/result.txt
tools/tokenizer/
/diff
/Cargo.lock
