/target
/get-token/target
/*.log
/*.env
/static/*.min.html
/static/*.min.css
/static/*.min.js
/scripts/.asset-hashes.json
node_modules
.DS_Store
/.vscode
/.cargo
/.token
/.token-list
/cursor-api
/cursor-api.exe
/release

/*.py
/logs
